  <footer class="card-footer" style="background-color: #5983bc;">
    <div class="inner text-center">	
      <p>2020 <small>&#64; jazzari</small><a href="https://github.com/jazzari">  Visit my GitHub</a></p>
    </div>
  </footer>